DB_URL=***.db

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET=********************************
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=**********************************
CLERK_SECRET_KEY=**********************************
